
<table class="table table-hover">
<tr>
<td width="60%">	
<% if !@userview.blank? %>

<h4 class="subheading">Add Friends</h4> 

<%= form_tag friend_path do %>
<% for task in @userview %>
    <li class="active">
     <h5 > <%= check_box_tag "friends[]", task.id %> <%= task.email %></h5>

    </li>
    
  <% end %>

  <p class="button"><%= submit_tag "Add", :class => "btn btn-primary" %></p> <br />
  

  <% end %><br /> <br />

  <% end %>
</td>
<td width="40%">
 
<% if !@showfriends.blank? %>

<h4 class="subheading">Added Friends</h4> 
<div class="badge">
  <% @showfriends.each do |b| %>
      
      
        <h5><%= b.email %></h5>
           
      
      
    <% end %>
    </div>
    <% end %>
</td>
</tr>
</table>