

<div class="hero-unit">


<h3>POST YOUR COMMENTS</h3>

<%= form_tag blog_create_path do %>
 <p align="left">
    <%= label_tag :title %>
    <%= text_field_tag :title, params[:title], :class => 'input-small span2' %>
 </p>
 <p align="left">
    <%= label_tag :post %>
     <%= text_area_tag :post %>
  </p>
  <p class="button"><%= submit_tag "Post Blog", :class => "btn btn-primary" %></p>


<% end %>
</div>